 body {
   background-color: paleturquoise;
 }

 img {
   height: 300px;
   width: 150pxt;
 }

 h1 {
   color: seagreen;
 }

 p {
   color: hotpink;
 }

 .fish {
   color: orangered;
   font-size: 50px;
   font-family: sans-serif;
 }